<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            My Contact List
        </h1>
        
        <div id="container">
            <ul>
                <% for (let i of contact_list) { %>
                    <li class="contact">
                        <div class="details">
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                        </div>
                        <div class="delete-button">
                            <a href="/delete-contact/?id=<%= i._id %>">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                    </li>
                
                <% } %>
            </ul>
        </div>

        <form id="new-contact-form" action="/crete-contact" method="POST">
            <input type="text" name="name" placeholder="Enter the name" required>
            <input type="number" name="phone" placeholder="Enter the number" required>

            <button type="submit">Add contact</button>
        </form>

        <script type="text/javascript" src="/js/home.js"></script>
        <script src="https://kit.fontawesome.com/976cc1ba03.js" crossorigin="anonymous"></script>
    </body>
</html>